<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    <title>{% block title %}عنوان البريد{% endblock %}</title>
    {% include 'authentication/templates/styles.html' %}
</head>
<body style="font-family: 'Cairo', Arial, Helvetica, sans-serif; text-align: right; direction: rtl; color: #333333; font-size: 14px; padding: 40px; font-weight: 700; margin: 0 auto;">
    <div class="container">
        {% include 'authentication/templates/header.html' %}
        {% block content %}{% endblock %}
        {% include 'authentication/templates/footer.html' %}
    </div>
</body>
</html>
