{% extends "web/partials/base.html" %}

{% block title %}تعديل المستخدم{% endblock %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-red-600">تعديل المستخدم</h2>
        <button class="lg:hidden" onclick="toggleSidebar()">
            <svg class="w-8 h-8 text-red-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>
    <form method="post" class="w-full p-6 rounded-lg bg-white shadow-md">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for field in form %}
            <div>
                <span class="block mb-1">
                    {{ field.label_tag }}
                </span>
                {{ field }}
                <span class="block mb-1">
                    {% if field.help_text %}
                </span>
                <p class="text-gray-500 text-sm">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="flex justify-end mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">حفظ التغييرات</button>
        </div>
    </form>
</div>
{% endblock %}