{% extends "web/partials/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}قائمة المستخدمين{% endblock %}
{% block content %}
<style>
    .tom-select > .ts-control{
        background-color: transparent;
        border: 0;
    }
</style>
<div class="container mx-auto p-4">
    {% include "web/partials/heading.html" with title="قائمة المستخدمين" %}
    {% include "web/partials/search_form.html" with placeholder="بحث عن المستخدمين..." %}
    <div class="overflow-y-auto">
        <table class="w-full border-collapse border border-gray-300 text-sm">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">رقم<br>المستخدم</th>
                    <th class="border border-gray-300 px-4 py-2">تاريخ<br>التسجيل</th>
                    <th class="border border-gray-300 px-4 py-2">اسم الاول</th>
                    <th class="border border-gray-300 px-4 py-2">الاسم الاخير</th>
                    <th class="border border-gray-300 px-4 py-2">الاسم المستعار</th>
                    <th class="border border-gray-300 px-4 py-2">البريد الإلكتروني</th>
                    <th class="border border-gray-300 px-4 py-2">الهاتف</th>
                    <th class="border border-gray-300 px-4 py-2">نقاط<br>المستخدم</th>
                    <th class="border border-gray-300 px-4 py-2">رتبة<br>المستخدم</th>
                    <th class="border border-gray-300 px-4 py-2">الإجراءات</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.id }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.date_joined|date:"Y-m-d" }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.first_name }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.last_name }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.nick_name }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.email }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2" dir="ltr">{{ user.phone_number }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.point }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ user.rank }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">
                        <div class="flex gap-4 justify-center">
                            <a href="{% url 'user_view' user.pk %}" class="border-2 border-red-600 hover:bg-red-600 hover:text-white text-red-600 font-bold py-2 px-4 rounded-md inline-block">تفاصيل</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "web/partials/pagination.html" %}
</div>
{% endblock %}
