{% extends "web/partials/base.html" %}
{% load custom_filters %}

{% block title %}تفاصيل المستخدم{% endblock %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    {% include "web/partials/heading.html" with title="تفاصيل المستخدم" %}
    <div class="w-full py-3 rounded-lg">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex flex-col gap-4">
            <div>
                <label class="block mb-2 font-bold">اسم المستخدم</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.username|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">الاسم الأول</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.first_name|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">الاسم المستعار</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.nick_name|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">تاريخ الميلاد</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.birth_date|date:"d/m/Y"|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">الجنسية</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.get_nationality_display|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">لديه عمل</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.has_business|yesno:"نعم,لا"|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">نوع السيارة</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.get_car_type_display|default:"لا توجد بيانات" }}</p>
            </div>
            {% comment %} <div>
                <label class="block mb-2 font-bold">الاهتمامات</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">
                    {{ user.interests|get_display:INTERESTS }}
                </p>
            </div> {% endcomment %}
            {% comment %} <div>
                <label class="block mb-2 font-bold">ترتيب السيارات</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">
                    {{ user.car_sorting|get_display:CAR_SORTING_ITEMS }}
                </p>
            </div> {% endcomment %}
            <div>
                <label class="block mb-2 font-bold">البرنامج المفضل</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.favorite_show|default:"لا توجد بيانات" }}</p>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <div>
                <label class="block mb-2 font-bold">البريد الإلكتروني</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.email|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">الاسم الأخير</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.last_name|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">رقم الهاتف</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.phone_number|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">الجنس</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.get_gender_display|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">البلد</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.get_country_display|default:"لا توجد بيانات" }}</p>
            </div>
            <div>
                <label class="block mb-2 font-bold">لديه سيارة</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.has_car|yesno:"نعم,لا"|default:"لا توجد بيانات" }}</p>
            </div>
            {% comment %} <div>
              <label class="block mb-2 font-bold">الهوايات</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">
                    {{ user.hobbies|get_display:HOBBIES }}
                </p>
            </div> {% endcomment %}
            {% comment %} <div>
              <label class="block mb-2 font-bold">السيارات المفضلة</label>
              <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">
                {{ user.favorite_cars|get_display:CAR_BRANDS }}
              </p>
            </div> {% endcomment %}
            <div>
                <label class="block mb-2 font-bold">المقدم المفضل</label>
                <p class="mb-1 agt-default-input w-full px-3 py-2 bg-gray-100 text-gray-800">{{ user.favorite_presenter|default:"لا توجد بيانات" }}</p>
            </div>
          </div>
        </div>
        <div class="flex justify-end gap-4 mt-10">
            <button type="button" class="agt-bg-red-900 hover:bg-red-700 text-white font-bold py-3 px-12 rounded" onclick="openModal()">حذف المستخدم</button>
            <form id="passwordResetForm">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ user.email }}">
                <button type="button" class="border-2 border-red-600 hover:bg-red-600 hover:text-white text-red-600 font-bold py-3 px-12 rounded" onclick="sendPasswordResetRequest()">
                    إعادة تعيين كلمة المرور
                </button>
            </form>
        </div>
    </div>
</div>

<div id="loadingOverlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-50 flex items-center justify-center" style="z-index: 99999;">
    <div class="text-white text-lg">جاري إرسال الطلب...</div>
</div>

<div id="confirmationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden" style="z-index: 99999999;">
    <div class="bg-white rounded-lg px-16 py-6 shadow-lg">
        <h2 class="text-xl text-center text-red-600 font-bold mb-6">تأكيد الحذف</h2>
        <p>هل أنت متأكد أنك تريد حذف هذا المستخدم؟</p>
        <div class="flex gap-4 justify-between mt-4">
          <form method="post" class="flex flex-col w-full" action="{% url 'user_delete' user.pk %}">
              <input type="text" required name="delete_reason" placeholder="سبب الحذف" class="px-2 py-1 w-full agt-default-input agt-default-input--variant">
                {% csrf_token %}
                <div class="flex justify-between mt-4">
                  <button type="submit" class="border-2 border-red-600 hover:bg-red-600 hover:text-white text-red-600 font-bold py-2 px-12 rounded">حذف</button>
                  <button type="button" class="agt-bg-red-900 hover:bg-red-700 text-white font-bold py-2 px-12 rounded" onclick="closeModal()">إلغاء</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById('confirmationModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('confirmationModal').classList.add('hidden');
    }

    function sendPasswordResetRequest() {
        const form = document.getElementById('passwordResetForm');
        const formData = new FormData(form);
        const loadingOverlay = document.getElementById('loadingOverlay');
        
        loadingOverlay.classList.remove('hidden');
        
        fetch("{% url 'rest_password_reset' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                'Accept': 'application/json',
            },
            body: formData,
        })
        .then(response => {
            loadingOverlay.classList.add('hidden');
            
            if (response.ok) {
                alert('تم إرسال رابط إعادة تعيين كلمة المرور إلى البريد الإلكتروني: {{ user.email }}.');
            } else {
                return response.json().then(data => {
                    alert('حدث خطأ: ' + data.detail);
                });
            }
        })
        .catch(error => {
            loadingOverlay.classList.add('hidden');
            
            console.error('Error:', error);
            alert('تعذر إرسال طلب إعادة تعيين كلمة المرور.');
        });
    }
</script>
{% endblock %}
