* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Cairo', sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.main-content {
  height: 100vh;
}

.sidebar {
  z-index: 999;
  height: 100vh;
}

.sidebar.open {
  right: -100%;
}


@media (max-width: 1024px) {
  .page-wrapper{
    flex-direction: column;
  }

  .sidebar {
    height: 100vh;
    position: absolute !important;
    right: 0;
    top: 0;
  }

  .sidebar.close {
    right: -100%;
  }
}

.action-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h3 {
  margin: 0 0 10px;
}
.card button,
.card a {
  background-color: #d9232d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.card button:hover {
  background-color: #a91a20;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%27http://www.w3.org/2000/svg%27 width%3D%2716%27 height%3D%2716%27 fill%3D%27currentColor%27 class%3D%27bi bi-chevron-down%27 viewBox%3D%270 0 16 16%27%3E%3Cpath fill-rule%3D%27evenodd%27 d%3D%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
  background-size: 1rem;
}

.tom-select > .ts-control {
    background-color: transparent;
    border: 0;
}

.agt-bg-gray-100 {
  background-color: #EBEBEC;
}

.agt-bg-red-900 {
  background-color: #E2072C;
}

.agt-border-red-900 {
  border-color: #E2072C;
}

.agt-default-input {
  background-color: #F8F8F8;
  border-bottom: 2px solid #E2072C;
}

.agt-default-input--variant {
  background-color: #F8F8F8;
  border: 1px solid #ebebeb;
  border-bottom: 2px solid #E2072C;
  border-radius: 3px;
}

.agt-default-input * {
  background-color: #F8F8F8 !important;
  font-size: 16px !important;
  color: #9ca3af !important;
}

.custom-radio {
  display: flex;
  gap: 20px;
}
.custom-radio label {
  display: flex;
  gap: 10px;
}
.custom-radio input[type="radio"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: #333;
    width: 1.25em;
    height: 1.25em;
    border: 0.15em solid #cbd5e0;
    border-radius: 50%;
    display: grid;
    margin: 0;
    place-content: center;
}

.custom-radio input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #f00;
    background-color: CanvasText;
}

.custom-radio input[type="radio"]:checked::before {
    transform: scale(1);
}

.custom-radio label {
    cursor: pointer;
}
