* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Cairo', sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.main-content {
  height: 100vh;
}

.sidebar {
  height: 100vh;
}

.sidebar.open {
  right: -100%;
}


@media (max-width: 1024px) {
  .page-wrapper{
    flex-direction: column;
  }

  .sidebar {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
  }

  .sidebar.close {
    right: -100%;
  }
}
