{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}

<div style="line-height: 2.2; width: 600px; margin: 0 auto; font-size: 14px; padding: 20px; direction: rtl;">
    <style>
        ol {
            counter-reset: list-counter;
            padding-right: 15px;
            list-style: none;
        }
        ol li {
            counter-increment: list-counter;
            position: relative;
        }
        ol li::before {
            content: counter(list-counter) ". ";
            position: absolute;
            right: -15px;
        }
        ul {
            list-style-type: square;
            list-style-position: inside;
        }
        ol li, ul li {
            display: list-item;
        }
        .ol-bold-num li::before {
            font-weight: bold;
        }
    </style>
    <h1 style="font-size: 18px;" class="mb-4 font-bold">سياسة الخصوصية والاستخدام  لتطبيق ArabGT</h1>
    <p class="mb-6">
        مرحباً بكم في تطبيق <b>ArabGT</b>
    </p>
    <p class="mb-6">نحن نقدر ثقتكم و نلتزم بحماية خصوصيتكم. </p>
    <p>توضح هذه السياسة كيفية جمع واستخدام ومشاركة المعلومات الخاصة بكم عند استخدامكم لتطبيقنا.</p>
    <h3 class="font-bold">جمع المعلومات</h3>
    <p>نحن نجمع المعلومات التالية:</p>
    <ol class="ol-bold-num">
        <li>
            <b>المعلومات الشخصية:</b> الاسم، البريد الإلكتروني، رقم الهاتف، وغيرها من المعلومات التي تقدمها عند التسجيل.
        </li>
        <li>
            <b>المعلومات غير الشخصية:</b> بيانات الاستخدام، معلومات الجهاز، ملفات تعريف الارتباط، وغيرها من المعلومات التي لا تعرفك بشكل شخصي
        </li>
    </ol>
    <h3 class="font-bold">استخدام المعلومات</h3>
    <p>نستخدم المعلومات التي نجمعها من أجل:</p>
    <ol>
        <li>تحسين تجربة المستخدم وتخصيص المحتوى.</li>
        <li>إرسال التحديثات والإشعارات.</li>
        <li>تحليل استخدام التطبيق وأداءه.</li>
        <li>تحسين خدماتنا ومنتجاتنا.</li>
        <li>التواصل مع المستخدمين للرد على استفساراتهم ودعمهم.</li>
    </ol>
    <h3 class="font-bold">مشاركة المعلومات</h3>
    <p>نحن لا نبيع أو نشارك المعلومات الشخصية مع أطراف ثالثة، باستثناء الحالات التالية:</p>
    <ol class="ol-bold-num">
        <li>
            <b>مقدمي الخدمات:</b> الشركات التي تساعدنا في تشغيل وصيانة التطبيق
        </li>
        <li>
            <b>التوافق مع القانون:</b> إذا كان ذلك مطلوباً بموجب القانون أو لحماية حقوقنا القانونية.
        </li>
        <li>
            <b>التحويلات التجارية:</b> في حالة اندماج أو بيع أو نقل أصول التطبيق.
        </li>
    </ol>
    <h3 class="font-bold">أمن المعلومات</h3>
    <p>نحن نتخذ تدابير أمنية مناسبة لحماية المعلومات الشخصية من الوصول غير المصرح به أو الكشف أو التعديل أو التدمير. ومع ذلك، لا يمكننا ضمان الأمان المطلق نظراً لطبيعة الإنترنت.</p>
    <h3 class="font-bold">حقوق المستخدم</h3>
    <p>لديكم حقوق معينة بشأن المعلومات الشخصية التي نجمعها:</p>
    <ol class="ol-bold-num">
        <li>
            <b>الوصول:</b> حق لكم الوصول إلى المعلومات الشخصية التي نحتفظ بها.
        </li>
        <li>
            <b>التصحيح:</b> يحق لكم تصحيح المعلومات الشخصية غير الدقيقة أو غير الكاملة.
        </li>
        <li>
            <b>الحذف:</b> يحق لكم طلب حذف معلوماتكم الشخصية، بشرط عدم تعارض ذلك مع التزاماتنا القانونية.
        </li>
    </ol>
    <h3 class="font-bold">سياسة الاستخدام</h3>
    <ol class="ol-bold-num">
        <li>
            <b>استخدام التطبيق:</b> يجب استخدام التطبيق بشكل قانوني وأخلاقي، ووفقاً لشروط الاستخدام هذه.
        </li>
        <li>
            <b>التسجيل:</b> يجب تقديم معلومات صحيحة ودقيقة عند التسجيل.
        </li>
        <li>
            <b>الملكية الفكرية:</b> جميع حقوق الملكية الفكرية للتطبيق والمحتوى التابع له محفوظة.
        </li>
        <li>
            <b>تعديلات الخدمة:</b> نحتفظ بالحق في تعديل أو إيقاف التطبيق أو أي جزء منه دون إشعار مسبق.
        </li>
    </ol>
    <h3 class="font-bold">التعديلات على السياسة</h3>
    <p class="mb-10">نحتفظ بالحق في تعديل سياسة الخصوصية والاستخدام من وقت لآخر. سيتم نشر أي تغييرات هنا، ونشجعكم على مراجعة هذه الصفحة بانتظام.</p>
    <h3 class="font-bold">الاتصال بنا</h3>
    <p>إذا كان لديكم أي استفسارات أو تعليقات حول سياسة الخصوصية والاستخدام، يرجى الاتصال بنا على:</p>
    <ul>
        <li>البريد الإلكتروني: <b><a href="mailto:support@arabgt.com">support@arabgt.com</a></b></li>
    </ul>
    <p>نشكركم على استخدام تطبيق ArabGT ونقدر ثقتكم بنا.</p>
</div>
{% endblock %}
