<!DOCTYPE html>
<html dir="rtl" lang="ar">
{% include 'web/partials/head.html' %}
<body class="page-wrapper flex">
    {% if not no_sidebar %}
        {% include 'web/partials/sidebar.html' %}
    {% endif %}
    <div class="overflow-y-auto flex-1 p-5 bg-white">
        {% block content %}
        {% endblock %}
    </div>
    {% if not no_sidebar %}
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/js/tom-select.complete.min.js"></script>
        <script>
            function toggleSidebar() {
                if (window.innerWidth < 1024) {
                    const sidebar = document.getElementById('sidebar');
                    sidebar.classList.toggle('close');
                }
            }
            if (window.innerWidth >= 1024) {
                sidebar.classList.remove('close');
            } else {
                sidebar.classList.add('close');
            }
            window.addEventListener('resize', function() {
                const sidebar = document.getElementById('sidebar');
                if (window.innerWidth >= 1024) {
                    sidebar.classList.remove('close');
                } else {
                    sidebar.classList.add('close');
                }
            });
            document.addEventListener('DOMContentLoaded', function() {
                const elements = document.querySelectorAll('.tom-select');
                elements.forEach(el => {
                    new TomSelect(el, {
                        allowEmptyOption: true,
                        searchField: ['text'],
                        rtl: true,
                        plugins: ['dropdown_input'],
                    });
                });
            });
        </script>
    {% endif %}
</body>
</html>
