<!DOCTYPE html>
<html dir="rtl" lang="ar">
{% include 'web/partials/head.html' %}
<body class="page-wrapper flex">
    {% if not no_sidebar %}
        {% include 'web/partials/sidebar.html' %}
    {% endif %}
    <div class="overflow-y-auto flex-1 p-5 bg-white">
        {% block content %}
        {% endblock %}
    </div>
    {% if not no_sidebar %}
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/js/tom-select.complete.min.js"></script>
        <script>
            function toggleSidebar() {
                if (window.innerWidth < 1024) {
                    const sidebar = document.getElementById('sidebar');
                    sidebar.classList.toggle('close');
                }
            }
            if (window.innerWidth >= 1024) {
                sidebar.classList.remove('close');
            } else {
                sidebar.classList.add('close');
            }
            window.addEventListener('resize', function() {
                const sidebar = document.getElementById('sidebar');
                if (window.innerWidth >= 1024) {
                    sidebar.classList.remove('close');
                } else {
                    sidebar.classList.add('close');
                }
            });
            document.addEventListener('DOMContentLoaded', function() {
                const elements = document.querySelectorAll('.tom-select');
                elements.forEach(el => {
                    new TomSelect(el, {
                        allowEmptyOption: true,
                        searchField: ['text'],
                        rtl: true,
                        plugins: ['dropdown_input'],
                    });
                });
            });
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
          const dateLabels = document.querySelectorAll('.date-label');
          dateLabels.forEach(function (label) {
            const inputId = label.getAttribute('for');
            const dateInput = document.getElementById(inputId);
            if (dateInput) {
              label.addEventListener('click', function (e) {
                e.preventDefault();
                if (dateInput.showPicker) {
                  dateInput.showPicker();
                } else {
                  dateInput.focus();
                  setTimeout(() => {
                    dateInput.click();
                  }, 0);
                }
              });
        
              function toggleLabel() {
                label.style.display = dateInput.value ? 'none' : 'flex';
              }
              dateInput.addEventListener('input', toggleLabel);
              dateInput.addEventListener('change', toggleLabel);
              toggleLabel();
            }
          });
        });
      </script>
    {% endif %}
</body>
</html>
