<!DOCTYPE html>
<html dir="rtl" lang="ar">
{% include 'web/partials/head.html' %}
<body class="page-wrapper flex">
    {% include 'web/partials/sidebar.html' %}
    <div class="overflow-y-auto flex-1 px-4 bg-gray-100">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        function toggleSidebar() {
            if (window.innerWidth < 1024) {
                const sidebar = document.getElementById('sidebar');
                sidebar.classList.toggle('close');
            }
        }
        if (window.innerWidth >= 1024) {
            sidebar.classList.remove('close');
        } else {
            sidebar.classList.add('close');
        }
        window.addEventListener('resize', function() {
            const sidebar = document.getElementById('sidebar');
            if (window.innerWidth >= 1024) {
                sidebar.classList.remove('close');
            } else {
                sidebar.classList.add('close');
            }
        });
    </script>

</body>
</html>
