{% load static %}
<div id="sidebar" class="overflow-y-auto sidebar fixed inset-y-0 border-l border-gray-300 right-0 bg-white text-white w-76 transform transition-transform relative translate-x-0 flex flex-col justify-between">
    <div>
        <div class="flex items-center flex-col justify-center mt-3 mb-3 p-4">
            <img src="{% static 'images/agt-logo.png' %}" class="mb-2" alt="Logo" >
            <span class="text-gray-300">Dashboard</span>
        </div>
        <ul class="pb-2 px-4">
            {% comment %} <li class="mb-1">
                <a href="{% url 'home' %}" class="block {% if '/web/home/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4"x-4">لوحة التحكم</a>
            </li> {% endcomment %}
            <li class="mb-1">
                <a href="{% url 'notifications' %}" class="block {% if '/web/notifications/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4"x-4">إرسال التنبيهات</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'user_list' %}" class="block {% if '/web/users/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">قائمة المستخدمين</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'deleted_user_list' %}" class="block {% if '/web/deleted_user/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">قائمة المستخدمين المحذوفين</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'newsletter_list' %}" class="block {% if '/web/newsletter/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">قائمة المشتركين</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'export_user_list' %}" class="block {% if '/web/export_users/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">قائمة استخراج بيانات المستخدمين</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'forum_list' %}" class="block {% if '/web/forums/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">قائمة المنتديات</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'group_list' %}" class="block {% if '/web/groups/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">قائمة المجموعات</a>
            </li>
            <li class="mb-1">
                <a href="{% url 'questions' %}" class="block {% if '/web/questions/' in request.path  %}text-red-600 font-bold bg-gray-100{% else %}hover:bg-gray-100 text-gray-800{% endif %} rounded-md py-4 px-4">الأسئلة و النقاشات</a>
            </li>
        </ul>
    </div>
    <div class="p-4 border-t border-gray-300">
        <ul>
            <li class="py-2">
                <a href="{% url 'logout' %}" class="block font-bold agt-bg-red-900 text-center text-white rounded-md py-4 px-4">تسجيل الخروج</a>
            </li>
        </ul>
    </div>
</div>
