{% load static %}
<div id="sidebar" class="sidebar fixed inset-y-0 right-0 bg-gray-900 text-white w-72 transform transition-transform relative translate-x-0 flex flex-col justify-between">
    <div>
        <div class="flex items-center justify-between p-4 border-b border-gray-800">
            <img src="{% static 'images/arab-gt-logo-2.png' %}" alt="Logo" class="h-10">
        </div>
        <ul class="p-4">
            <li class="py-2"><a href="{% url 'home' %}" class="block hover:bg-gray-800 rounded-md px-2">لوحة التحكم</a></li>
            <li class="py-2"><a href="{% url 'user_list' %}" class="block hover:bg-gray-800 rounded-md px-2">قائمة المستخدمين</a></li>
            <li class="py-2"><a href="{% url 'deleted_user_list' %}" class="block hover:bg-gray-800 rounded-md px-2">قائمة المستخدمين المحذوفين</a></li>
            <li class="py-2"><a href="{% url 'newsletter_list' %}" class="block hover:bg-gray-800 rounded-md px-2">قائمة المشتركين</a></li>
            <li class="py-2"><a href="{% url 'export_user_list' %}" class="block hover:bg-gray-800 rounded-md px-2">قائمة استخراج بيانات المستخدمين</a></li>
            <li class="py-2"><a href="{% url 'forum_list' %}" class="block hover:bg-gray-800 rounded-md px-2">قائمة المنتديات</a></li>
            <li class="py-2"><a href="{% url 'group_list' %}" class="block hover:bg-gray-800 rounded-md px-2">قائمة المجموعات</a></li>
        </ul>
    </div>
    <div class="p-4 border-t border-gray-800">
        <ul>
            <li class="py-2"><a href="{% url 'logout' %}" class="block hover:bg-gray-800 rounded-md px-2">تسجيل الخروج</a></li>
        </ul>
    </div>
</div>
