{% extends "authentication/templates/base_email.html" %}

{% block title %}تأكيد عنوان البريد الإلكتروني{% endblock %}

{% block content %}
    {% if confirmation %}
    <p>الرجاء تأكيد أن <a href="mailto:{{ email }}">{{ email }}</a> هو عنوان البريد الإلكتروني للمستخدم {{ user_display }}.</p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button type="submit" style="background-color: #E2072C; color: #ffffff; border: none; padding: 10px 20px; border-radius: 0.375rem; cursor: pointer; transition: background-color 0.2s;">تأكيد</button>
    </form>
    {% else %}
    <h2>فشل تأكيد البريد الإلكتروني</h2>
    <p>رابط تأكيد البريد الإلكتروني منتهي الصلاحية أو غير صالح.</p>
    {% endif %}
{% endblock %}
