{% extends "authentication/templates/base_email.html" %}

{% block title %}تأكيد البريد الإلكتروني{% endblock %}

{% block content %}
    <h1 style="font-size: 20px;">مرحباً بكم في عرب جي تي!</h1>
    <div class="content" style="margin: 20px 0;">
        <p>عزيزي المستخدم،</p>
        <p>للبدء، يرجى التحقق من بريدك الإلكتروني عن طريق النقر على الرابط أدناه: <a href="{{ activate_url }}" style="color: #E2072C; text-decoration: none; cursor: pointer;">الرابط</a></p>
        <p style="margin-top: 30px;">شكراً لانضمامك إلينا!</p>
    </div>
{% endblock %}
