<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    <title>إعادة تعيين كلمة المرور</title>
    <style>
        body {
            font-family: 'Cairo', Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body style="font-family: 'Cairo', Arial, Helvetica, sans-serif; text-align: right; direction: rtl; color: #333333; font-size: 14px; padding: 40px; font-weight: 700; margin: 0 auto;">
    <div class="container" style="margin: 0 auto;">
        <p style="text-align: left;">
            المرسل: ArabGt
        </p>
        <div class="logo" style="margin: 20px 0; text-align: center;">
            <a href="https://arabgt.com/"><img src="https://arabgt-bucket.s3.eu-north-1.amazonaws.com/Logo+Pictorial+Red+(2).png" width="68.69" height="19.81" alt="ArabGT Logo"></a>
        </div>
        <h1 style="font-size: 20px;">مرحباً بكم في عرب جي تي !</h1>

        <div class="content" style="margin: 20px 0;">
            <p>مرحباً!</p>
            <p>أنت تتلقى هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور.</p>
            <p>للمتابعة، يرجى النقر على الرابط أدناه واختيار كلمة مرور جديدة: <a href="{{reset_url}}" style="color: #E2072C; text-decoration: none; cursor: pointer;">إعادة تعيين كلمة المرور</a></p>
            
            <p style="margin-top: 30px;">شكراً لكونك معنا!</p>
        </div>
        <div style="margin-top: 30px;">
            <p>هل تواجه مشكلة؟ <a href="mailto:customer@arabgt.com" style="color: #E2072C; text-decoration: none; cursor: pointer;">اتصل بخدمة العملاء</a></p>
        </div>
    </div>
</body>
</html>
