{% extends "authentication/templates/base_email.html" %}

{% block title %}إعادة تعيين كلمة المرور{% endblock %}

{% block content %}
    <h1 style="font-size: 20px;">مرحباً بكم في عرب جي تي !</h1>
    <div class="content">
        {% if validlink %}
            <p>الرجاء إدخال كلمة المرور الجديدة وتأكيدها.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <div class="form-group">
                    <label for="id_new_password1">كلمة المرور الجديدة:</label>
                    <div class="errors">{{ form.new_password1.errors }}</div>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="id_new_password2">تأكيد كلمة المرور:</label>
                    <div class="errors">{{ form.new_password2.errors }}</div>
                    {{ form.new_password2 }}
                </div>
                <div class="form-actions">
                    <input type="submit" value="تغيير كلمة المرور" />
                </div>
            </form>
        {% else %}
            <h1>فشل إعادة تعيين كلمة المرور</h1>
            <p>رابط إعادة تعيين كلمة المرور غير صالح، ربما لأنه تم استخدامه بالفعل. الرجاء طلب إعادة تعيين كلمة المرور مرة أخرى.</p>
        {% endif %}
    </div>
{% endblock %}
