{% extends "authentication/templates/base_email.html" %}

{% block title %}إعادة تعيين كلمة المرور{% endblock %}

{% block content %}
    <h1 style="font-size: 20px;">مرحباً بكم في عرب جي تي !</h1>
    <div class="content" style="margin: 20px 0;">
        <p>مرحباً!</p>
        <p>أنت تتلقى هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور.</p>
        <p>للمتابعة، يرجى النقر على الرابط أدناه واختيار كلمة مرور جديدة: <a href="{{reset_url}}" style="color: #E2072C; text-decoration: none; cursor: pointer;">إعادة تعيين كلمة المرور</a></p>
        <p style="margin-top: 30px;">شكراً لكونك معنا!</p>
    </div>
{% endblock %}
