{% extends "web/partials/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}قائمة المنتديات{% endblock %}
{% block content %}
<style>
    .tom-select > .ts-control{
        background-color: transparent;
        border: 0;
    }
</style>
<div class="container mx-auto p-4">
    {% include "web/partials/heading.html" with title="قائمة المنتديات" %}
    {% include "web/partials/search_form.html" with placeholder="بحث عن المنتديات..." %}
    <div class="flex justify-start mb-4">
        <a href="{% url 'forum_create' %}" class="agt-bg-red-900 hover:bg-red-700 text-white font-bold py-3 px-8 rounded inline-block">
          إنشاء منتدى جديد
        </a>
    </div>
    <div class="overflow-y-auto">
        <table class="w-full border-collapse border border-gray-300 text-sm">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">الاسم</th>
                    <th class="border border-gray-300 px-4 py-2">تاريخ الانشاء</th>
                    <th class="border border-gray-300 px-4 py-2">الحالة</th>
                    <th class="border border-gray-300 px-4 py-2">خيارات</th>
                </tr>
            </thead>
            <tbody>
                {% for forum in forums %}
                <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ forum.name }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ forum.created_at|date:"Y-m-d" }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">{{ forum.is_active|yesno:"مفعل, غير مفعل" }}</td>
                    <td class="border border-gray-300 font-bold px-4 py-2">
                        <div class="flex gap-4 justify-center">
                            <a href="{% url 'forum_edit' forum.pk %}" class="w-full border border-2 border-red-600 hover:bg-red-600 hover:text-white text-red-600 font-bold py-2 px-4 text-center rounded-md">تعديل</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "web/partials/pagination.html" %}
</div>
{% endblock %}
